MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/adnode
VITE_FHENIX_RPC_URL=
VITE_ADREGISTRY_ADDRESS=
VITE_ADANALYTICS_ADDRESS=
VITE_CHAIN_ID=
VITE_PINATA_JWT=
VITE_API_URL=http://127.0.0.1:4000
PRIVATE_KEY=
