MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/adnode
PRIVATE_KEY=replace_with_private_key
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
VITE_API_URL=http://localhost:4000
